{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "react-app",
    "react-app/jest"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "rules": {
    "indent": [
      "warn",
      "tab"
    ],
    "no-trailing-spaces": "error",
    "no-console": "off",
    "object-curly-spacing": [
      "error",
      "always",
      {
        "arraysInObjects": false,
        "objectsInObjects": false
      }
    ],
    "array-bracket-spacing": [
      "error",
      "never"
    ],
    "comma-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "keyword-spacing": "warn",
    "comma-dangle": ["error", "never"],
    "no-unused-vars": ["warn", {
      "vars": "local"
    }],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "jsx-quotes": [
      "error",
      "prefer-single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "eol-last": ["error", "always"],
    "no-multiple-empty-lines": ["error", {
      "max": 2,
      "maxEOF": 0
    }],
    "space-before-function-paren": ["warn", "never"],
    "eqeqeq": "error",
    "space-infix-ops": [
      "error",
      {
        "int32Hint": false
      }
    ],
    "arrow-parens": ["warn", "as-needed"],
    "arrow-body-style": ["warn", "as-needed"],
    "no-mixed-spaces-and-tabs": ["warn", "smart-tabs"],
    "curly": ["error", "multi"],
    "handle-callback-err": "error",
    "one-var": ["error", "never"],
    "func-call-spacing": ["error", "never"],
    "dot-location": ["error", "property"]
  }
}
